body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


